/* header */
.header {
    padding: 12px 0;
    background-color: var(--primary-color);
}

.header-fixed {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 128px;
    height: 39.5px;
}

.nav {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.header-menu-list a {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    text-wrap: nowrap;
}

.header-menu-item {
    position: relative;
}

.header-submenu-list {
    width: 200px;
    position: absolute;
    background-color: #6c7ee1b3;
    border: 3px solid var(--color-green);
    top: 55px;
    left: 10px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    transition: all 0.25s ease-in-out 0s, visibility 0s linear 0.25s,
        z-index 0s linear 0.01s;
}

.header-menu-item:hover .header-submenu-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.25s;
}

.header-menu-item i {
    transition: ease 0.25s;
}

.header-menu-item:hover i {
    rotate: 180deg;
}

.header-menu-item > a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 11px;
    background-color: var(--color-green);
    transition: width 0.25s ease, right 0.25s ease;
}

.header-menu-item:hover a::after {
    width: calc(100% - 20px);
}

.header-submenu-list::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: var(--color-green);
}

.header-submenu__text a {
    transition: ease 0.25s;
}

.header-submenu__text a:hover {
    color: var(--color-green);
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 8.5px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search input:focus::placeholder {
    color: var(--primary-color);
}

.header__search__btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.header__search__btn i {
    font-size: 1.7rem;
    color: #fff;
    border: 2px solid #92b9e4;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.sign-in {
    color: #fff;
    background-color: var(--color-green);
    font-size: 1.5rem;
    padding: 7.5px;
    display: inline-block;
    border: 1px solid var(--color-green);
    border-radius: 5px;
    transition: ease-in-out 0.25s;
    margin-left: 5px;
    text-wrap: nowrap;
}

.sign-in:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.header-menu-mobile {
    display: none;
}

.header-menu-mobile__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 7px 0 0 10px;
}

.header-menu-mobile i {
    display: inline-block;
    padding: 10px;
    background-color: var(--color-green);
    font-size: 1.9rem;
    border-radius: 3px;
    color: #fff;
}

.banner {
    position: relative;
}

.banner__info {
    position: absolute;
    top: 300px;
    left: 10%;
}

.banner-container {
    position: relative;
}

@supports (background-clip: text) or (-webkit-background-clip: text) or
    (-ms-background-clip: text) {
    .banner__heading {
        color: transparent;
        background-clip: text;
        background-color: #fa8bff;
        background-image: linear-gradient(
            45deg,
            #fa8bff 0%,
            #2bd2ff 52%,
            #2bff88 90%
        );
        font-size: 10rem;
        font-weight: 700;
        cursor: pointer;
        transition: ease 0.25s;
    }
}

.banner-watch {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 999px;
    letter-spacing: 3px;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 20px;
    transition: ease-in 0.25s;
    font-weight: 500;
    font-size: 2rem;
}

.banner-watch:hover {
    color: #fff;
    background-color: #fa8bff;
    background-image: linear-gradient(
        45deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );
}

.banner__img {
    width: 100%;
    height: 100%;
}

.myVideo {
    transform: translateX(50%);
    width: 1070px;
    position: absolute;
    right: 50%;
    margin-top: 10px;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #8e8bff, #2be6ff);
}

.posts2 {
    margin-top: 100px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    border: none;
    padding: 0;
    border-radius: 50%;
    transition: all 0.25s;
}

#scrollToTopBtn i {
    font-size: 3rem;
    color: #fff;
    padding: 20px 25px;
    border-radius: 50%;
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

#scrollToTopBtn i:hover {
    background-color: #8e8bff;
    background-image: linear-gradient(
        45deg,
        #8e8bff 0%,
        #2be6ff 52%,
        #2bff88 90%
    );
}

.hidden {
    display: none;
}

@media (max-width: 1199.98px) {
    .sign-in,
    .search {
        display: none;
    }
    .myVideo {
        width: 900px;
    }

    .banner__info {
        top: 270px;
    }
    .banner__heading {
        font-size: 8rem;
    }

    .banner-watch {
        font-size: 1.8rem;
        margin-top: 10px;
    }
}

.splide__slide img {
    width: 100%;
    height: auto;
    display: block;
}

.posts {
    margin-top: 700px;
}

.post-inner__img {
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-inner__img img {
    height: 100%;
    object-fit: cover;
}

.post-info {
    height: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-info__heading {
    font-size: 2.5rem;
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}

.post-inner__date {
    margin-top: 10px;
    gap: 10px;
    text-wrap: nowrap;
}

.post__dateR {
    font-style: italic;
}

.post-info__view {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    border-radius: 15px;
    margin-top: 10px;
}

.post-info__view:hover {
    color: #fff;
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

.splide__arrow {
    font-size: 4rem;
    background-color: transparent;
    opacity: 1;
}
.splide__arrow svg {
    fill: #21d4fd;
}

.splide__arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.splide__pagination .splide__pagination__page {
    background-color: #21d4fd;
}

.splide__pagination .splide__pagination__page.is-active {
    background-color: #b721ff;
}

/* heading */
.posts__heading {
    font-size: 4rem;
    font-weight: 700;
}
@media (max-width: 1199.98px) {
    .posts {
        margin-top: 600px;
    }
}

@media (max-width: 991.98px) {
    .myVideo {
        width: 680px;
    }
    .banner__info {
        top: 230px;
    }
    .banner__heading {
        font-size: 6rem;
    }

    .banner-watch {
        font-size: 1.4rem;
        margin-top: 5px;
    }
    .post-inner__date {
        font-size: 1.4rem;
    }
    .posts {
        margin-top: 450px;
    }
}

@media (max-width: 767.98px) {
    .header-menu-mobile {
        display: block;
    }

    .nav {
        display: none;
    }
    .myVideo {
        width: 480px;
    }
    .banner__info {
        top: 150px;
    }
    .banner__heading {
        font-size: 4rem;
    }

    .banner-watch {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .post-inner__date {
        font-size: 1.6rem;
    }
    .posts {
        margin-top: 350px;
    }
}

@media (max-width: 575.98px) {
    .header-menu-mobile__btn {
        margin-left: 30px;
    }
    .myVideo {
        width: 350px;
    }
    .banner__info {
        top: 80px;
        left: 60px;
    }
    .banner__heading {
        font-size: 3rem;
    }

    .banner-watch {
        font-size: 1.2rem;
        padding: 5px 10px;
        margin-top: 5px;
    }

    .posts {
        margin-top: 250px;
    }
}
