/* header */
.header {
    padding: 12px 0;
    background-color: var(--primary-color);
}

.header-fixed {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 128px;
    height: 39.5px;
}

.nav {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.header-menu-list a {
    display: inline-block;
    padding: 20px 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    text-wrap: nowrap;
}

.header-menu-item {
    position: relative;
}

.header-submenu-list {
    width: 200px;
    position: absolute;
    background-color: #6c7ee1b3;
    border: 3px solid var(--color-green);
    top: 55px;
    left: 10px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    transition: all 0.25s ease-in-out 0s, visibility 0s linear 0.25s,
        z-index 0s linear 0.01s;
}

.header-menu-item:hover .header-submenu-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.25s;
}

.header-menu-item i {
    transition: var(--ease025s);
}

.header-menu-item:hover i {
    rotate: 180deg;
}

.header-menu-item > a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 18px;
    left: 11px;
    background-color: var(--color-green);
    transition: width 0.25s ease, right 0.25s ease;
}

.header-menu-item:hover a::after {
    width: calc(100% - 20px);
}

.header-submenu-list::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: var(--color-green);
}

.header-submenu__text a {
    transition: var(--ease025s);
}

.header-submenu__text a:hover {
    color: var(--color-green);
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 8.5px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search input:focus::placeholder {
    color: var(--primary-color);
}

.header__search__btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.header__search__btn i {
    font-size: 1.7rem;
    color: #fff;
    border: 2px solid #92b9e4;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.sign-in {
    color: #fff;
    background-color: var(--color-green);
    font-size: 1.5rem;
    padding: 7.5px;
    display: inline-block;
    border: 1px solid var(--color-green);
    border-radius: 5px;
    transition: ease-in-out 0.25s;
    margin-left: 5px;
    text-wrap: nowrap;
}

.sign-in:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.header-menu-mobile {
    display: none;
}

.header-menu-mobile__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 7px 0 0 10px;
}

.header-menu-mobile i {
    display: inline-block;
    padding: 10px;
    background-color: var(--color-green);
    font-size: 1.9rem;
    border-radius: 3px;
    color: #fff;
}

.banner {
    position: relative;
}

.banner__info {
    position: absolute;
    top: 300px;
    left: 10%;
}

.banner-container {
    position: relative;
}

.switch {
    bottom: 100px;
    right: 10px;
    position: fixed;
    z-index: 1111;
}

.switch label {
    display: inline-block;
    width: 60px;
    height: 30px;
    outline: 3px solid #e8e8e8;
    border-radius: 20px;
    background-color: #f9f9f9;
    transition: var(--ease025s);
    cursor: pointer;
}

.switch label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: var(--ease025s);
}

.switch input[type="checkbox"]:checked + label::before {
    transform: translateX(30px);
    box-shadow: 0 -2px -5px rgba(0, 0, 0, 0.5);
    transition: var(--ease025s);
}

.switch input[type="checkbox"]:checked + label {
    background-color: #fa8bff;
    background-image: linear-gradient(
        45deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );

    outline-color: #74e563;
}

@supports (background-clip: text) or (-webkit-background-clip: text) or
    (-ms-background-clip: text) {
    .banner__heading {
        color: transparent;
        background-clip: text;
        background-color: #fa8bff;
        background-image: linear-gradient(
            45deg,
            #fa8bff 0%,
            #2bd2ff 52%,
            #2bff88 90%
        );
        font-size: 10rem;
        font-weight: 700;
        cursor: pointer;
        transition: var(--ease025s);
    }
}

.banner-watch {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 999px;
    letter-spacing: 3px;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 20px;
    transition: ease-in 0.25s;
    font-weight: 500;
    font-size: 2rem;
}

.banner-watch:hover {
    color: #fff;
    background-color: #fa8bff;
    background-image: linear-gradient(
        45deg,
        #fa8bff 0%,
        #2bd2ff 52%,
        #2bff88 90%
    );
}

.banner__img {
    width: 100%;
    height: 100%;
}

.myVideo {
    transform: translateX(50%);
    width: 1070px;
    position: absolute;
    right: 50%;
    margin-top: 10px;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #8e8bff, #2be6ff);
}

.posts2 {
    margin-top: 100px;
    scroll-margin-top: 100px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100;
    border: none;
    padding: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 10px #0002;
    place-items: center;
    display: none;
}

#scrollToTopBtn i {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
    display: grid;
    place-items: center;
}

#scrollToTopBtn i:hover {
    background-color: #8e8bff;
    background-image: linear-gradient(
        45deg,
        #8e8bff 0%,
        #2be6ff 52%,
        #2bff88 90%
    );
}

.decor {
    width: 100%;
    margin-top: 100px;
    scroll-margin-top: 100px;
}

.decor-inner {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    grid-auto-flow: dense;
}

.decor-inner .tall {
    grid-row: span 2;
}

.decor-inner .wide {
    grid-column: span 2;
}

.decor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: var(--ease025s);
    cursor: pointer;
}

.box {
    overflow: hidden;
}

.decor__img:hover {
    transform: scale(1.1);
}

/* Quality */
.quality {
    margin-top: 50px;
    padding: 100px 0;
}

.quality__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--black);
}

.quality__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
    transition: var(--ease025s);
}

.quality__item i,
.quality__item p {
    transition: var(--ease025s);
}

.quality__item:hover {
    transform: translateY(-10px) !important;
}

.quality__item:hover i {
    background-color: rgb(0, 145, 255);
}

.quality__item:hover p {
    font-weight: 700;
}

.quality__item i {
    font-size: 3.5rem;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #2bd2ff;
    display: grid;
    place-items: center;
    border: 2px solid #2bd2ff;
    cursor: pointer;
}

.quality__text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #666;
}

.footer__heading2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--grayBlack);
}

.footer-item a {
    font-size: 1.6rem;
    color: #000;
    position: relative;
}

.footer-item a::after {
    content: "";
    display: inline-block;
    width: 0;
    background-color: #666;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.25s ease-in-out;
}

.footer-item a:hover::after {
    width: 100%;
}

.footer-item:hover::after {
    width: 100%;
}

.splide__slide img {
    width: 100%;
    height: auto;
    display: block;
}

.posts {
    margin-top: 700px;
    scroll-margin-top: 100px;
}

.post-inner__img {
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-inner__img img {
    height: 100%;
    object-fit: cover;
}

.post-info {
    height: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-info__heading {
    font-size: 2.5rem;
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}

.post-inner__date {
    margin-top: 10px;
    gap: 10px;
    text-wrap: nowrap;
}

.post__dateR {
    font-style: italic;
}

.post-info__view {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    border-radius: 15px;
    margin-top: 10px;
}

.post-info__view:hover {
    color: #fff;
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

.splide__arrow {
    font-size: 4rem;
    background-color: transparent;
    opacity: 1;
}
.splide__arrow svg {
    fill: #21d4fd;
}

.splide__arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.splide__pagination .splide__pagination__page {
    background-color: #21d4fd;
}

.splide__pagination .splide__pagination__page.is-active {
    background-color: #b721ff;
}

.posts__heading {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
}

.tutorial {
    width: 100%;
    height: 700px;
    background-image: url(../images/tutorial-bg.webp);
    position: relative;
    scroll-margin-top: 75px;
}

.tutorial::before {
    content: "";
    background-color: #6c7ee1a6;
    width: 100%;
    height: 700px;
    position: absolute;
}

.tutorial__heading {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    margin-top: 100px;
}

.tutorial-info {
    background-color: var(--white);
    height: 690px;
    padding: 50px 100px;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 0 0 10px #0002;
}

.tutorial-item {
    border: 1px solid #2bff88;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    color: var(--black);
}

.tutorial-item h3 {
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 12px;
}

.heading-bold {
    font-weight: 700 !important;
}

.tutorial-item i {
    color: #00bc22;
    font-size: 1.8rem;
    padding: 5px;
}

.border-item {
    background-color: #00bc22;
    color: #fff !important;
    border-radius: 50%;
}

.tutorial__desc {
    font-size: 1.6rem;
    padding: 0 15px 15px;
}

.hidden {
    display: none;
}

/* Footer */

.footer {
    margin-top: 300px;
    background-color: #7bd5f550;
    padding: 50px 0 20px;
}

.footer__heading {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 10px;
}

.footer__heading a {
    color: var(--black);
}

.footer__text {
    font-size: 1.8rem;
    font-style: italic;
    color: #666;
    line-height: 1.5;
    margin-top: 20px;
    text-align: justify;
}

.item a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.item a i {
    color: orange;
    font-size: 2rem;
}

.social.footer__heading2 {
    margin-top: 20px;
}

.footer-inner__socials {
    gap: 10px;
    font-size: 2rem;
}

.footer-inner__socials i {
    color: #000;
    transition: var(--ease025s);
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid #000;
}

.social-item i:hover {
    background-color: #0866ff;
    border-color: #0866ff;
    color: #fff;
}

.social-item:nth-child(2) i:hover {
    background-color: #fff;
    border-color: #fff;
    color: #ff0000;
}
.social-item:nth-child(3) i:hover {
    background-color: #000;
    border-color: #fff;
}

.footer__form {
    margin-top: 20px;
}

.footer-inner__input {
    display: flex;
    position: relative;
    margin-top: 25px;
}

.footer-inner__input input {
    padding: 10px 100px 10px 20px;
    border: none;
    outline: none;
    width: 100%;

    border-radius: 999px;
}

.footer__send--btn {
    width: 15%;
    border: none;
    border-radius: 999px;
    position: absolute;
    right: 3px;
    width: 80px;
    height: 38px;
    top: 3px;
    background-color: #21d4fd;
    transition: var(--ease025s);
}

.footer__send--btn:hover {
    background-color: #b721ff;
}

.footer__send--btn i {
    font-size: 2rem;
    color: #fff;
}

.copyright {
    margin-top: 100px;
    font-size: 1.8rem;
    color: var(--grayBlack);
}

.copyright {
    position: relative;
}

.copyright::before {
    content: "";
    display: block;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #bbb;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1199.98px) {
    .sign-in,
    .search {
        display: none;
    }
    .myVideo {
        width: 900px;
    }

    .banner__info {
        top: 270px;
    }
    .banner__heading {
        font-size: 8rem;
    }

    .banner-watch {
        font-size: 1.8rem;
        margin-top: 10px;
    }
    .posts {
        margin-top: 600px;
    }
    .tutorial-info {
        height: 690px;
    }
}

@media (max-width: 991.98px) {
    .myVideo {
        width: 680px;
    }
    .banner__info {
        top: 230px;
    }
    .banner__heading {
        font-size: 6rem;
    }

    .banner-watch {
        font-size: 1.4rem;
        margin-top: 5px;
    }
    .post-inner__date {
        font-size: 1.4rem;
    }
    .posts {
        margin-top: 450px;
    }

    .tutorial-item h3 {
        font-size: 1.6rem;
    }
    .tutorial__desc {
        font-size: 1.4rem;
    }

    .tutorial-info {
        height: 730px;
    }
}

@media (max-width: 767.98px) {
    .header-menu-mobile {
        display: block;
    }

    .nav {
        display: none;
    }
    .myVideo {
        width: 480px;
    }
    .banner__info {
        top: 150px;
    }
    .banner__heading {
        font-size: 4rem;
    }

    .banner-watch {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .post-inner__date {
        font-size: 1.6rem;
    }
    .posts {
        margin-top: 350px;
    }

    .quality {
        width: 100%;
    }

    .quality__item {
        margin-top: 50px;
    }
    .tutorial-info {
        height: 850px;
        padding: 50px;
    }

    .footer {
        margin-top: 500px;
    }
}

@media (max-width: 575.98px) {
    .header-menu-mobile__btn {
        margin-left: 30px;
    }
    .myVideo {
        width: 350px;
    }
    .banner__info {
        top: 80px;
        left: 25%;
    }
    .banner__heading {
        font-size: 3rem;
    }

    .banner-watch {
        font-size: 1.2rem;
        padding: 5px 10px;
        margin-top: 5px;
    }

    .posts {
        margin-top: 250px;
    }
    .tutorial-info {
        height: 810px;
        padding: 20px;
    }
}
